---
title: CIEN 2025
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-d+7H6z9G+7XW9bLq0oUeU6FrR1M+e3B6Ltr7dE8pHqP+6N+Y4eAazupxF6oR2Af0FxU1DdKgQ5+YIX+Z3fzw4A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <title>{{ page.title }}</title>
  </head>
  <body class="dark-theme">
    <header></header>
    <main>
      <section id="guestbook" class="section">
        <div class="container">
          <div class="section-header text-center">
            <h1 role="section-heading">{{site.workshop.name}}</h1>
            <h3>
              <a href="{{site.workshop.github}}" class="link-underline">방명록 남기기</a>
            </h3>
          </div>
          <div class="guestbook-content grid">
            {% for guest in site.guestbook %}
            <div class="guestbook-item card">
              <div class="guestbook-profile">
                <img src="{{guest.image}}" alt="{{guest.name}}" class="avatar" />
                <span class="emoji">{{guest.emoji}}</span>
              </div>
              <h2>{{guest.name}}</h2>
              <h4>{{guest.message}}</h4>
              <hr />
              <div class="guestbook-social">
                {% if guest.twitter %}
                <a href="https://twitter.com/{{guest.twitter}}" alt="트위터">
                  <i class="fab fa-twitter"></i>
                </a>
                {% endif %} {% if guest.facebook %}
                <a href="https://facebook.com/{{guest.facebook}}" alt="페이스북">
                  <i class="fab fa-facebook"></i>
                </a>
                {% endif %} {% if guest.github %}
                <a href="https://github.com/{{guest.github}}" alt="깃허브">
                  <i class="fab fa-github"></i>
                </a>
                {% endif %} {% if guest.web %}
                <a href="https://{{guest.web}}" alt="웹사이트">
                  <i class="fas fa-globe"></i>
                </a>
                {% endif %} {% if guest.instagram %}
                <a href="https://instagram.com/{{guest.instagram}}" alt="인스타그램">
                  <i class="fab fa-instagram"></i>
                </a>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container text-center">
        <p>&copy; {{ site.time | date: '%Y' }} {{site.workshop.name}}. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
